body{
	margin:0;
	padding: 0;
	background-color: #333333;
}
section{
	margin-top: -20px;
	width: 100%;
	background-color: #be3144;
	height: 100px;
}
li{
	color: #f0f0f0;
}
p{
	color: #f0f0f0;
}
hr {
	margin-right: 50px;
	background-color: #be3144;
}
.headings {
	color:#f0f0f0;
	text-align: center;
}
h1 {
	padding-top: 10px;
}
